/*index.css*/
html {
    background-color:beige;
}
h2 {
    color:sienna;
}

h3 {
    color:peru;
}

body {
    margin: 5em;
    text-align: justify;
    font-family: 'Times New Roman';
    font-size: 18px;
}

#cabecera {
    background-color:lightcoral;
    color:lavenderblush;
    height: 55px;
    font-size: 45px;
}

#pie {
    background-color:lightcoral;
    color: lavenderblush;
    height:50px;
    text-align: 20px;
}

#columnas {column-count: 2;
    column-gap: 20px;

}

div {
    text-align: center;
}

a:link {
    color: green;
}

a:visited {
    color: red;
}

a:hover {
    color: blue;
}

a:active {
    color: deeppink;
}
